<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- this disable favicon.ico request for headless browser, so not mix with other requests -->
  <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />
</head>
<body>
  <%= yield %>
</body>
</html>
