<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>cuprite with_js</title>
    <script src="/cuprite/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/cuprite/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/cuprite/test.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <p><input type="time" name="change_me_time" id="change_me_time"></p>
    <p><input type="date" name="change_me_date" id="change_me_date"></p>
    <p><input type="month" name="change_me_month" id="change_me_month"></p>
    <p><input type="week" name="change_me_month" id="change_me_week"></p>
  </body>
</html>
