<!DOCTYPE html>
<html>
  <body>
    We are loading some wanted action here.
    <iframe src="/cuprite/wanted" name="frame_name"></iframe>
    <iframe src="/cuprite/unwanted" name="unwanted_frame"></iframe>
    <img src="/cuprite/wanted" style="height:100px;width:100px;" />
    <script src="/cuprite/wanted" />
  </body>
</html>
