<!DOCTYPE html>
<html>
  <body>
    We are loading some unwanted action here.
    <iframe src="/cuprite/unwanted" name="framename"></iframe>
    <img src="/cuprite/unwanted" style="height:100px;width:100px;" />
    <script src="/cuprite/unwanted" />
  </body>
</html>
